# **1. Cute Angles**

Write a function that takes a floating point number representing an angle between 0 and 360 degrees and returns 
a string representing that angle in degrees, minutes, and seconds. 
You should use a degree symbol (°) to represent degrees, a single quote (') to represent minutes, 
and a double quote (") to represent seconds. There are 60 minutes in a degree, and 60 seconds in a minute.

Note: You can use the following constant to represent the degree symbol:

```
DEGREE = "\u00B0" 
```

## Input/Output

Input: 
* inetger between 0 and 360 representing degrees

Output:
* String notating degrees, minutes and seconds

## Problem Domain

How do you convert decimal dregrees
* Multiply decimal degrees by 60 top get minutes
* Multiply remaining  by 60 to get seconds

## Implicit Requirements

Input is integer between 0 and 360

0 as input retturns all 0 string

## Clarifying Questions

N/A

## Mental Model

Take a number as input which is a valid angle degree.
From the decimal degree value, calculate minutes and seconds from degrees.
Print thge results

## Examples/Test Cases

```python 
print(dms(30) == "30°00'00\"")
print(dms(76.73) == "76°43'48\"")
print(dms(254.6) == "254°35'59\"" or dms(254.6) == "254°36'00\"")
print(dms(93.034773) == "93°02'05\"")
print(dms(0) == "0°00'00\"")
print(dms(360) == "360°00'00\"" or dms(360) == "0°00'00\"")
```

## Data/Algorithm

function dms: input: decimal_degrees
* Calculate degrees, minutes and seconds
* Return string of degree etc value

In [20]:
a = 31.55454
degrees = a // 1
minutes = (a % 1) * 60
seconds = (minutes)
print(degrees, minutes)

31.0 33.27239999999996 16.34399999999772

In [41]:
DEGREE = "\u00B0" 

def minute_sec_string_maker(input_num):
    out_str = str(input_num)

    if len(out_str) == 2:
        return out_str
    else:
        return '0' + out_str

def dms(input_degrees):
    degrees = input_degrees // 1
    minutes = (input_degrees % 1) * 60
    seconds = (minutes % 1) * 60

    degrees = int(degrees // 1)
    minutes = minute_sec_string_maker(int(minutes // 1))
    seconds = minute_sec_string_maker(int(seconds // 1))
    
    output_str = f"{degrees}{DEGREE}{minutes}'{seconds}\""


    

    return output_str

print(dms(30) == "30°00'00\"")
print(dms(76.73) == "76°43'48\"")
print(dms(254.6) == "254°35'59\"" or dms(254.6) == "254°36'00\"")
print(dms(93.034773) == "93°02'05\"")
print(dms(0) == "0°00'00\"")
print(dms(360) == "360°00'00\"" or dms(360) == "0°00'00\"")

True
True
True
True
True
True

## Further Exploration

Our solution only works with positive numbers in the range of 0 to 360 (inclusive). 
Can you refactor it so that it works with any positive or negative number?

Our solution has the following results for inputs outside the range 0-360:

```python 
print(dms(-1))   # -1°00'00"
print(dms(400))  # 400°00'00"
print(dms(-40))  # -40°00'00"
print(dms(-420)) # -420°00'00"
```

Since degrees are normally restricted to the range 0-360, can you modify the code so it returns a value in the 
appropriate range when the input is less than 0 or greater than 360?

```python 
print(dms(-1))   # 359°00'00"
print(dms(400))  # 40°00'00"
print(dms(-40))  # 320°00'00"
print(dms(-420)) # 300°00'00"
```

In [42]:
DEGREE = "\u00B0" 

def minute_sec_string_maker(input_num):
    out_str = str(input_num)

    if len(out_str) == 2:
        return out_str
    else:
        return '0' + out_str


def return_sign(input_int):
    if input_int < 0:
        return "-"
    elif input_int > 0:
        return "+"
    else:
        return ""
    
def convert_single_rotation(degrees_num):
    while degrees_num > 360:
        degrees_num -= 360

    return degrees_num

def dms(input_degrees):
    sign = return_sign(input_degrees)
    input_degrees = convert_single_rotation(input_degrees)
    
    degrees = input_degrees // 1
    minutes = (input_degrees % 1) * 60
    seconds = (minutes % 1) * 60

    degrees = int(degrees // 1)
    minutes = minute_sec_string_maker(int(minutes // 1))
    seconds = minute_sec_string_maker(int(seconds // 1))
    
    output_str = f"{sign}{degrees}{DEGREE}{minutes}'{seconds}\""


    

    return output_str

# **2. Combining Lists**

Write a function that takes two lists as arguments and returns a set that contains the union of the values from the two lists. 
You may assume that both arguments will always be lists.

## Input/Output

Input:
* Two lists containing numbers

Output: 
* A new set which contains each numbe rof input sets once

## Problem Domain

What is a union of sets?
* A set containing all elements thatr are in both inputs

## Implicit Requirements

* No repeat numbers in output set
* Convert from two lists to one set

## Clarifying Questions

Do we accept negative numbers in input lists?
* Yes, and I don't think we need any algorithm adjustments to make this possible

## Examples/Test Cases

```python 
print(union([1, 3, 5], [3, 6, 9]) == {1, 3, 5, 6, 9}) # True
```

## Mental Modela

Take two lists containing only integers as input to a function.
The output of this function should return a set containing all elements of both lists, withoput repeating (thisa should be autopmatically achieved as sets do not allow for repeated members.)

## Data/Algorithm

Function : union : two lists. list1, list2 as input
Set output_set to an empty set
loop over elements of list1:
* add current element to output_set
Loop over elements in list 2
* Add current element to oputput_set
Return output_set

In [50]:
def union(list1, list2):

    output_set = set()

    for num in list1:
        output_set.add(num)

    for num in list2:
        output_set.add(num)

    return output_set


print(union([1, 3, 5], [3, 6, 9]) == {1, 3, 5, 6, 9}) # True

True

# **3. Halvsies**

Write a function that takes a list as an argument and returns a list that contains two elements, both of which are lists. 

Put the first half of the original list elements in the first element of the return value and put the second half in the second element. 

If the original list contains an odd number of elements, place the middle element in the first half list.

## Input/Output

Input:
* Single list

Output:
* A list containing two sub-lists representing the first and second half of the input list
* If the length of input list is not divisible by two, have the extra element on the first sub-element

## Problem Domain
N/A

## Implicit Requirements

N/A

## Mental Model

Take a list of any length as argument.

Return a new list, with two sub elements. If there were an even number of elements in input, have half
in each sub element. Otherwise the extra goes on the first sub element.

## Examples/Test Cases

```python 
# All of these examples should print True
print(halvsies([1, 2, 3, 4]) == [[1, 2], [3, 4]])
print(halvsies([1, 5, 2, 4, 3]) == [[1, 5, 2], [4, 3]])
print(halvsies([5]) == [[5], []])
print(halvsies([]) == [[], []])
```

## Data/Algorithm

function: halvsies: input_list
if length of input_list is even
* set half_idx to length of innut list divided by two
If length of input_list is odd,
* set half_idx to floor division of the length of the input by 2 , add 1

Set output_list1 to using slice indexing on input
set output_list2 to second half using slice indexing

set final_output to list containing thw two output lists
return final_output

In [53]:
def halvsies(input_list):
    input_len = len(input_list)

    if input_len % 2 == 0:
        half_idx = int(input_len / 2)
    else:
        half_idx = (input_len // 2) + 1

    output_list1 = input_list[0:half_idx]
    output_list2 = input_list[half_idx:]
    
    final_output_list = [output_list1, output_list2]

    return final_output_list

print(halvsies([1, 2, 3, 4]) == [[1, 2], [3, 4]])
print(halvsies([1, 5, 2, 4, 3]) == [[1, 5, 2], [4, 3]])
print(halvsies([5]) == [[5], []])
print(halvsies([]) == [[], []])

True
True
True
True

# **4. Find the Duplicate**

Given an unordered list and the information that exactly one value in the list occurs twice (every other value occurs exactly once), 

determine which value occurs twice. 

Write a function that finds and returns the duplicate value.

You may assume that the input list will always have exactly one duplicate value.

## Input/Output

input:
* One list of many elements, of which exactly one is a duplicate

Output:
* The element which is duplicated

## Problem Domain

N/A

## Implicit Requirements

As there is only one repeated elenent, we can return the first repeat value that is found.

## Clarifying Questions

Do we have to make any changes if we allow for the input list to contain different types of elements?
* No, it should work finw with elements of different types

## Examples/Test Cases

```python 
print(find_dup([1, 5, 3, 1]) == 1) # True
print(find_dup([
                  18,  9, 36, 96, 31, 19, 54, 75, 42, 15,
                  38, 25, 97, 92, 46, 69, 91, 59, 53, 27,
                  14, 61, 90, 81,  8, 63, 95, 99, 30, 65,
                  78, 76, 48, 16, 93, 77, 52, 49, 37, 29,
                  89, 10, 84,  1, 47, 68, 12, 33, 86, 60,
                  41, 44, 83, 35, 94, 73, 98,  3, 64, 82,
                  55, 79, 80, 21, 39, 72, 13, 50,  6, 70,
                  85, 87, 51, 17, 66, 20, 28, 26,  2, 22,
                  40, 23, 71, 62, 73, 32, 43, 24,  4, 56,
                   7, 34, 57, 74, 45, 11, 88, 67,  5, 58,
              ]) == 73)       # True
```

## Mental Model

Take a list with at least two  elements, and with exactly two of these occuring twice. Return a copy og the doubled element.

## Data/Algorithm 
function: find_dup: input_list

Set used_elems as empty list

Iterate over elems in input_list
* If elem is already in used_elems:
    * return elem
* Otherwise:
    * Add elem to used_elems

In [54]:
def find_dup(input_list):
    used_elems = []

    for elem in input_list:
        if elem in used_elems:
            return elem
        else:
            used_elems.append(elem)

print(find_dup([1, 5, 3, 1]) == 1) # True
print(find_dup([
                  18,  9, 36, 96, 31, 19, 54, 75, 42, 15,
                  38, 25, 97, 92, 46, 69, 91, 59, 53, 27,
                  14, 61, 90, 81,  8, 63, 95, 99, 30, 65,
                  78, 76, 48, 16, 93, 77, 52, 49, 37, 29,
                  89, 10, 84,  1, 47, 68, 12, 33, 86, 60,
                  41, 44, 83, 35, 94, 73, 98,  3, 64, 82,
                  55, 79, 80, 21, 39, 72, 13, 50,  6, 70,
                  85, 87, 51, 17, 66, 20, 28, 26,  2, 22,
                  40, 23, 71, 62, 73, 32, 43, 24,  4, 56,
                   7, 34, 57, 74, 45, 11, 88, 67,  5, 58,
              ]) == 73)

True
True

# **5. Combine Two Lists**

Write a function that combines two lists passed as arguments and returns a new list that contains all elements from both list arguments, 

with each element taken in alternation.

You may assume that both input lists are non-empty, and that they have the same number of elements.

## Input/Output

Input:
* Two lists, non-empty, and of equal length

output:
* Single list containign ordered, and alternating elements from input lists

## Problem Domain

N/A

## Implicit Requirements

* Input lists can contain any type.
* Elements from the first list passed are also first in output_list

## Examples/Test Cases

```python 
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
expected = [1, "a", 2, "b", 3, "c"]
print(interleave(list1, list2) == expected)      # True
```

## Mental Model

Function takles trwo lists, of equal length as input. Return a new list, which groups equally indexed numbers together, with the first passed list being first!

## Data/Algorithm

Func: interleave: input_list1, input_list2

Set output_list to empty list

Iterate over idx numbers, 0 to length:
* Add elem from input_list1 to output_list
* Add elem from input_list2 to output_list

In [56]:
def interleave(input_list1, input_list2):
    output_list = []

    for idx in range(len(input_list1)):
        output_list.append(input_list1[idx])
        output_list.append(input_list2[idx])

    return output_list


list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
expected = [1, "a", 2, "b", 3, "c"]
print(interleave(list1, list2) == expected)      # True

True

## Further Exploration

Can you solve this problem using the zip function?

In [61]:
def interleave(input_list1, input_list2):
    output_list = []
    zipped = zip(input_list1, input_list2)

    for pair in zipped:
        output_list += [pair[0], pair[1]]

    return output_list

list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
expected = [1, "a", 2, "b", 3, "c"]
print(interleave(list1, list2) == expected)

True

# **6. Multiplicative Average**

Write a function that takes a list of positive integers as input, multiplies all of the integers together, 

divides the result by the number of entries in the list, and returns the result as a string with the value rounded to three decimal places.

## Input/Output

Input:
* List containing at least one positive integer.\

Output:
* A string representing the multiplicative average of integers in input string. The string should have three decimal places.

## Clarifying Questions

N/A

## Implicit Requirements

*  Input lists will always contain at least two integers

## Examples/Test Cases 

```python 
# All of these examples should print True
print(multiplicative_average([3, 5]) == "7.500")
print(multiplicative_average([2, 5, 8]) == "26.667")
print(multiplicative_average([2, 5]) == "5.000")
print(multiplicative_average([1, 1, 1, 1]) == "0.250")
print(multiplicative_average([2, 5, 7, 11, 13, 17]) == "28361.667")
```

## Data/Algorithm

function: multiplicative_average: input_list

set total to zero

Iterate over elements in input_list:
* Add element to total

set multi_average to total divided by length of input_list.

set num_as_string to multi_average formatted top show three decimal places

return num_as_string

In [71]:
def multiplicative_average(input_list):
    total = 1

    for num in input_list:
        total *= num
        
    multi_average = total / len(input_list)

    num_as_string = f"{multi_average:.3f}"

    return num_as_string

# All of these examples should print True
print(multiplicative_average([3, 5]) == "7.500")
print(multiplicative_average([2, 5, 8]) == "26.667")
print(multiplicative_average([2, 5]) == "5.000")
print(multiplicative_average([1, 1, 1, 1]) == "0.250")
print(multiplicative_average([2, 5, 7, 11, 13, 17]) == "28361.667")

True
True
True
True
True

# **7. Multiply Lists**

Write a function that takes two list arguments, each containing a list of numbers, 

and returns a new list that contains the product of each pair of numbers from the arguments that have the same index. 

You may assume that the arguments contain the same number of elements.

## Examples/Test Cases

```python 
list1 = [3, 5, 7]
list2 = [9, 10, 11]
print(multiply_list(list1, list2) == [27, 50, 77])  # True

In [74]:
def multiply_list(input1, input2):
    return [x * y for x, y in zip(input1, input2)]

list1 = [3, 5, 7]
list2 = [9, 10, 11]
print(multiply_list(list1, list2) == [27, 50, 77])  # True

True

# **8. List of Digits**

Write a function that takes one argument, a positive integer, and returns a list of the digits in the number.

## Examples/Test Cases

```python 
print(digit_list(12345) == [1, 2, 3, 4, 5])       # True
print(digit_list(7) == [7])                       # True
print(digit_list(375290) == [3, 7, 5, 2, 9, 0])   # True
print(digit_list(444) == [4, 4, 4])               # True
```

## Data/Algorithm

func: digit_list: input_int
* set nums_list to empty list
* loop while input_int is greater than 0
    * Add last element of input_int to nums_list
    * Remopve last element from input int using floor division by 10
* Return the reverse of nums_list

In [77]:
def digit_list(input_int):
    nums_list = []

    while input_int > 0:
        nums_list.append(input_int % 10)
        input_int = input_int // 10

    nums_list.reverse()

    return nums_list


print(digit_list(12345) == [1, 2, 3, 4, 5])       # True
print(digit_list(7) == [7])                       # True
print(digit_list(375290) == [3, 7, 5, 2, 9, 0])   # True
print(digit_list(444) == [4, 4, 4])               # True

True
True
True
True

# **8. How Many**

Write a function that counts the number of occurrences of each element in a given list. 

Once counted, print each element alongside the number of occurrences. 

Consider the words case sensitive e.g. ("suv" != "SUV").

## Input/Output


Input:
* List


Output:
* Printed number of frequency of each element

## Problem Domain

N/A

## Implicit Requirements

* Input list will containm strings

## Clarifying Questions

N/A

## Examples/Test Cases

```python 
vehicles = ['car', 'car', 'truck', 'car', 'SUV', 'truck',
            'motorcycle', 'motorcycle', 'car', 'truck']

count_occurrences(vehicles)

Expected Output

# your output sequence may appear in a different sequence
car => 4
truck => 3
SUV => 1
motorcycle => 2
```

## Mental Model

Take a list as input, calculate and print the frequency that each element appears in input list.

## Data/Algorithm 

Func: count_occurences: input_list
* Set count_dict to emoty dictionary
* Iterate over elements of input_list
    * if element appears as key in count_dict
        * Add 1 to corresponding value
    * If element does not appear in count_dict
        * Create relevant key with value as 1
* Print the key and values of count_dict formatted as above

In [3]:
def count_occurrences(input_list):
    count_dict = {}

    for elem in input_list:
        count_dict[elem] = count_dict.get(elem, 0) + 1

    for key, val in count_dict.items():
        print(f"{key} => {val}")


vehicles = ['car', 'car', 'truck', 'car', 'SUV', 'truck',
            'motorcycle', 'motorcycle', 'car', 'truck']

count_occurrences(vehicles)

car => 4
truck => 3
SUV => 1
motorcycle => 2

Further Exploration

Try to solve the problem when words are case insensitive, e.g. "suv" and "SUV" represent the same vehicle type.

In [6]:
def count_occurrences(input_list):
    count_dict = {}

    for elem in input_list:
        lowered_str = elem.lower()
        count_dict[lowered_str] = count_dict.get(lowered_str, 0) + 1

    for key, val in count_dict.items():
        print(f"{key} => {val}")


vehicles = ['car', 'CAR', 'truck', 'cAr', 'SUV', 'truck',
            'motorcycle', 'motorcycle', 'car', 'truck']
count_occurrences(vehicles)

car => 4
truck => 3
suv => 1
motorcycle => 2

# **10. List Average**

Write a function that takes one argument, a list of integers, and returns the average of all the integers in the list, 

rounded down to the integer component of the average. 

The list will never be empty, and the numbers will always be positive integers.

## Input/Output

Input: 
* List of minimum length 1 containing only integers

Output:
* Integer rounded down from average of integers in list

## Problem Domain

What sortt of average?
* The mean

How do you calculate mean? 
* Add all elements then divide by the number of elements

## Implicit Requirements 

Can take a list of length 1, in which case you return that single integer

## Clarifying Questions

N/A

## Examples/Test Cases 

```python 
print(average([1, 5, 87, 45, 8, 8]) == 25)        # True
print(average([9, 47, 23, 95, 16, 52]) == 40)     # True
print(average([7]) == 7)                          # True
```

## Mental Model

Take a list of positive integers and return the average of these integers as a rounded down integer

## Data/Algorithm

func: average: input_list
* Set total to 0
* Loop through numbers in input list:
    * Add number to total
* set output_num to floordivision of total divided by length of input_list
* return output_num

In [9]:
def average(input_list):
    total = sum(input_list)

    output_num = total // len(input_list)

    return output_num

print(average([1, 5, 87, 45, 8, 8]) == 25)        # True
print(average([9, 47, 23, 95, 16, 52]) == 40)     # True
print(average([7]) == 7)                          # True

True
True
True